<!DOCTYPE html>
<html lang="en" data-theme="dark" class="overflow-y-auto">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="alBlog" suffix=" · Alberto Engineer">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" href="https://albertobarrago.github.io/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tiny5&display=swap"
      rel="stylesheet"
    />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
  </head>

  <body class="bg-base-100 min-h-screen">
    <nav class="w-full relative z-10 flex justify-between items-center px-4 sm:px-6 lg:px-8 shadow-md bg-base-200">
      <.link href={~p"/"} class="flex items-center py-3">
        <span class="text-2xl font-bold text-primary hover:text-primary-focus transition">
          alBlog
        </span>
      </.link>

      <ul class="flex items-center gap-4 py-3">
        <%= if @current_scope do %>
          <li class="text-sm font-semibold text-primary">
            @{@current_scope.user.username || @current_scope.user.email}
          </li>
          <li>
            <.link
              href={~p"/articles"}
              class="text-base-content hover:text-primary transition"
            >
              Articles
            </.link>
          </li>

          <li>
            <.link
              href={~p"/users/settings"}
              class="text-base-content hover:text-primary transition flex items-center gap-1.5"
            >
              <.icon name="hero-cog-6-tooth" class="w-5 h-5" /> Settings
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log-out"}
              method="delete"
              class="text-base-content hover:text-error transition flex items-center gap-1.5"
            >
              <.icon name="hero-arrow-right-on-rectangle" class="w-5 h-5" />
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/users/register"}
              class="text-base-content hover:text-primary transition"
            >
              Register
            </.link>
          </li>
          <li>
            <.link
              href={~p"/users/log-in"}
              class="font-semibold px-3 py-1 rounded bg-primary hover:bg-primary-focus text-primary-content transition"
            >
              Log in
            </.link>
          </li>
        <% end %>
        <li>
          <.theme_toggle />
        </li>
      </ul>
    </nav>
    {@inner_content}
  </body>
</html>
